
.simple-trans-main > div {
    font-family: 'Exo', sans-serif;
    cursor: pointer;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20vh;
    color: white;
    font-size: 8vh;
    will-change: transform, opacity;
    text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}
.smallerText{
    font-size: 4vh;
}
.click{
    z-index: 2;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.counter{
    font-size: 20px !important;
}
.nextArrow{
    background-image: url("../../image/baseline_arrow_forward_black_18dp.png");
    background-repeat: no-repeat;
    background-size: auto;
    width: 50px;
    height: 60px;
    z-index: 2;
    position: absolute;
    bottom: 10px;
    margin-left: 5px;
    left: 48vw;
}
.nextClick{
    font-size: 20px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 10px;
}